<div class="ah">
<h2>{{title}}</h2>

<p>
	Jotform Back-up Service is a small web-app that you can use to safely back-up your jotform data. Currently we back-up your data into our servers in JSON format. But this service is under development and many more usefull features will be released. You can check release log below on this page.
</p>

<p>
	<h3> Currently Implemented Features </h3>
	<ul>
		<li>
			Back-Up of user form data.
		</li>
		<li>
			Back-Up of user submission data.
		</li>
	</ul>
</p>
<p>
	<h3>Upcoming features of Jotform Back-Up service</h3>
	<ul>
		<li>
			Complete Form&Submissions viewer for backed-up data.
		</li>
		<li>
			Back-Up uploaded files.
		</li>
		<li>
			Allow users to download their back-ups to their local computer.
		</li>
		<li>
			Re-Load already backed-up data into user's Jotform account or a different user's Jotform account allowing migration of data between accounts.
		</li>
	</ul>
</p>
<p>
	<h3>Contribute, report bugs or feature suggestions</h3>
	<p>
		This project is part of our <a href="https://github.com/jotform/api-use-cases/tree/master/backup" target="_blank">api-use-cases/backup</a> github report which includes many sub projects to demonstrate basic usage of <a href="http://api.jotform.com/docs/" target="_blank">jotform api.</a> Feel free to send pull requests.
	</p>
	<p>
		Do you have suggestions or feature requests or bug reports? Feel free to use contact form <a href="/#/contact">here</a>
	</p>
</p>
<hr />
<p>
	<h3>Release Log</h3>

	<p>
		<b>07.03.2013 - Feature Release v.0.0.02b </b> : <br />
		<b>Change Log:</b>
		<ul>
			<li>
				Users now can see their back-ups and their statuses from <a href="/#/backups">/backups</a>.
			</li>
			<li>
				Some bug fixes.
			</li>
		</ul>

	</p>

	<p>
		<b>04.03.2013 - Initial Release v.0.0.01b </b> : for launch day of <a href="https://www.jotform.com/integrations/" target="_blank">Jotform Integrations</a><br />
		<b>Change Log:</b>
		<ul>
			<li>
				Initial Release. Users can give back-up orders.
			</li>
		</ul>

	</p>
</p>

</div>