.content-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;	
}
.jumbo-head {
	width: 100%;
	height: 50%;
	background-color: #ecf0f1;
	text-align: center;
	z-index: 2;
}
.jumbo-head h1 { 
	color: black; 
	text-align: center; 
	font-size: 36px; 
	line-height: 32px; 
	float: left; 
	width: 100%; 
	font-size: 27px; 
	margin-top: 115px; 
}
.jumbo-head p {
	margin: 0;
	text-align: center;
}
.jumbo-head img { 
	display: inline-block;
	margin-top: 20px;
}
.jumbo-head button {
	margin-top: 19px;
	width: 200px;
	height: 50px;
	color: #fff;
	display: inline-block;
	border: none;
	overflow: hidden;
	font-size: 20px;
}
.cta {
	background-color: #2ecc71;
}
.cta:hover {
	background-color: #27ae60;
}
.page-desc {
	width: 100%;
	height: 50%;
	padding: 8%;
	background-color: #c0392b;
	color: #ecf0f1;
	font-size: 20px;
	text-align: center;
	line-height: 30px;
}
.footer { 
	position: relative;
	z-index: 5; 
}